default.properties
build.properties
local.properties
bin/
gen/
scripts/resources/*.diff
mappings/
READY/
.classpath
.settings
*.so
*~
*.log
.gradle/
build/
build.xml
proguard-project.txt
.idea/
*.iml
